<!DOCTYPE html>
<html>

<head>

<title>Add Item</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="form-container">

<h1>Add New Item</h1>

<form method="POST">

<input
type="text"
name="item_name"
placeholder="Item Name"
required>

<input
type="text"
name="category"
placeholder="Category"
required>

<input
type="number"
name="price"
placeholder="Price Per Day"
required>

<input
type="number"
name="deposit"
placeholder="Security Deposit"
required>

<textarea
name="description"
placeholder="Description"
rows="5"
required></textarea>

<button type="submit">

Add Item

</button>

</form>

</div>

</body>

</html>