<!DOCTYPE html>
<html>

<head>

    <title>Booking Verification</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<h1>Booking Verification</h1>

<hr>

{% if booking %}

<p><b>Booking ID :</b> {{ booking[0] }}</p>

<p><b>User :</b> {{ booking[1] }}</p>

<p><b>Item :</b> {{ booking[2] }}</p>

<p><b>Start Date :</b> {{ booking[3] }}</p>

<p><b>End Date :</b> {{ booking[4] }}</p>

<p><b>Status :</b> {{ booking[5] }}</p>

<h2 style="color:green;">
✔ Booking Verified Successfully
</h2>

{% else %}

<h2 style="color:red;">
❌ Invalid Booking
</h2>

{% endif %}

</div>

</body>
</html>